/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
  color: #333;
}

input[type='text'] {
  padding: 10px;
  margin: 10px 0;
  width: calc(100% - 22px);
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

h1 {
  color: #333;
}

.textListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.textSoundAlike {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100px;
  word-wrap: break-word; /* This will ensure words break to prevent overflow */
  overflow-wrap: break-word; /* Ensures overflow text is handled nicely */
}

.textSoundAlike p {
  margin: 5px 0;
}

.showMoreToggle {
  background-color: #28a745;
}

.showMoreToggle:hover {
  background-color: #218838;
}
